/* FaqItem.module.css */

.faqItem {
    background: #FFFFFF;
    border-bottom: 1px solid #010205;
    width: 100%;
    box-sizing: border-box;
}


.faqHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
    cursor: pointer;
    gap: 32px;
    width: 100%;
}

.faqQuestion {
    font-family: 'Evolventa', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #010205;
    margin: 0;
    flex-grow: 1;
}

.faqIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #010205;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out;
}



.faqAnswerContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.faqAnswerContainer.open {
    max-height: 500px;
}


.faqAnswerContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #7E8387;
    padding-bottom: 26px;

    & > p:first-child { margin-top: 0;}
    & > p:last-child { margin-bottom: 0;}
}